<h1>Build info</h1>

<img src="https://www.viola-group.com/wp-content/uploads/2017/10/codefresh-logo-300x145.png" width="150"/><br/>

<% for(let item of items) {%>
  <b><%= item.name %>: </b><%= item.val %><br>
<% } %>